<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SocialCops</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="./css/all.min.css">
		<link id="lazyload_placeholder">
	</head>
	<body>
		<header role="banner" class="header sc-selection-disabled fixed g-dark g-z-index-header">
			<div class="header-inner container">
			  	<div class="header-left">
				    <div class="header-logo left">
				      	<a href="#" title="Home" class="header-logo-link header-logoLink-wordmark sc-border-box sc-ir">SocialCops</a>
				    </div>
			  	</div>
			  	<div class="header-middle">
			    	<div class="header-search" role="search">
			      		<form class="headerSearch">
			      			<input class="headerSearch-input sc-input g-all-transitions-300" placeholder="Search for players, matches, stadiums" type="search" name="q" autocomplete="off" aria-label="Search" aria-autocomplete="list" aria-owns="searchMenuList" ng-model="app.searchItem">
							<button class="headerSearch-submit submit sc-ir" type="submit" ng-click="app.searchModal()">Search</button>
						</form>
			    	</div>
			  	</div>
		  		<div class="header-right sc-clearfix">
		      		<div class="header-loginMenu left">
		        		<a href="#/profile/sachin" class="g-opacity-transition sc-button sc-button-medium loginBtn" tabindex="0" title="Sachin Tendulkar is star of the century...check out why">Star of the Century</a>  
		        		<button class="g-opacity-transition sc-button sc-button-medium signupBtn sc-button-cta" tabindex="0" title="Get Live Score on your Phone">Live Scores</button>
		      		</div>
				    <ul class="header-navMenu sc-clearfix sc-list-nostyle left">
				      	<li class="dropdown">
				      		<a href="" class="header-moreBtn sc-ir dropdown-toggle" data-toggle="dropdown" tabindex="0" aria-haspopup="true" role="button" aria-owns="dropdown-button-35" id="settingDropdown">Settings and more</a>
				      		<ul class="dropdown-menu dropdown-menu-right moreMenu-list" aria-labelledby="settingDropdown">
							    <li><a href="#" class="moreMenu-link">Live Score</a></li>
							    <li><a href="#" class="moreMenu-link">Schedule</a></li>
							    <li><a href="#" class="moreMenu-link">Gallery</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="#" class="moreMenu-link">Book Ticket</a></li>
						  	</ul>
				      	</li>
				    </ul>
				</div>
			</div>
		</header>

		<div class="container page">
			<div ui-view ng-cloak></div>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="searchModal">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title">You Searched For</h4>
		      		</div>
		      		<div class="modal-body">
		        		<p>{{ app.searchItem }}</p>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      		</div>
		    	</div><!-- /.modal-content -->
		  	</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<script src="./js/vendor.min.js"></script>
		<script>
			window.paceOptions = {
			    document: true, // disabled
			    eventLag: true,
			    restartOnPushState: true,
			    restartOnRequestAfter: true,
			    ajax: {
			        trackMethods: [ 'POST','GET'],
			    }
			};
		</script>
		<script src="./js/all.min.js"></script>
	</body>
</html>